- [Data School's top 25 pandas tricks](https://nbviewer.org/github/justmarkham/pandas-videos/blob/master/top_25_pandas_tricks.ipynb)
- [Data School: 21 more pandas tricks](https://github.com/justmarkham/pandas-videos/blob/master/21_more_pandas_tricks.ipynb)

In [15]:
import pandas as pd
import numpy as np

In [16]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
movies = pd.read_csv('http://bit.ly/imdbratings')
orders = pd.read_csv('http://bit.ly/chiporders', sep='\t')
orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])
titanic = pd.read_csv('http://bit.ly/kaggletrain')
ufo = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])

/var/folders/mq/k43m1xh15tb89d11yl_8jnbm0000gn/T/ipykernel_21980/3279769219.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')

# 1. Show installed versions

In [17]:
pd.__version__

'1.4.2'

# 1.1 show dependencies as well

In [ ]:
pd.show_versions()

# 2. Create an example DataFrame

In [26]:
df = pd.DataFrame({'col one':[100, 200], 'col two':[300, 400]})
df

   col one  col two
0      100      300
1      200      400

In [21]:
pd.DataFrame(np.random.rand(4, 8))

,0,1,2,3,4,5,6,7
0,0.964038,0.570777,0.675473,0.568458,0.415068,0.140706,0.207013,0.504255
1,0.509634,0.724987,0.787663,0.158496,0.932379,0.880026,0.878169,0.028728
2,0.976004,0.170102,0.797545,0.045993,0.999606,0.720941,0.712940,0.630826
3,0.068713,0.215849,0.683837,0.157768,0.327698,0.996475,0.328888,0.547725

In [22]:
pd.DataFrame(np.random.rand(4, 8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.391529,0.798473,0.059387,0.213513,0.535983,0.068612,0.964906,0.858984
1,0.038322,0.579046,0.151941,0.146827,0.860913,0.155075,0.226756,0.488026
2,0.195781,0.537458,0.448077,0.277488,0.831458,0.322048,0.327125,0.461390
3,0.362551,0.941839,0.541179,0.289014,0.932390,0.858457,0.097210,0.256577

# 3. Rename columns
- `rename()`: You pass it a dictionary in which the keys are the old names and the values are the new names, and you also specify the axis:

In [27]:
df = df.rename({'col one':'col_1', 'col two':'col_2'}, axis='columns')
df

   col_1  col_2
0    100    300
1    200    400

- if you're going to rename **all** of the columns at once, a simpler method is just to overwrite the columns attribute of the DataFrame

In [35]:
df.columns = ['col_one', 'col_two']
df
df.columns = df.columns.str.replace('_', '-')
df
df = df.add_prefix('Oo_')
df
df = df.add_suffix('_oO')
df

   Ooxxcol-onexxoO  Ooxxcol-twoxxoO
0              100              300
1              200              400